*{
    box-sizing: border-box;

}

 body {
        width: 100%;
        height: 100%;
        /*margin-left: 250px;*/
        /*margin-bottom: 100px;*/
        background-image: url('http://www.wallpapereast.com/static/images/android-3966x3966-abstract-lines-curves-wallpaper-3443.jpg');
        background-size: cover;
        font-family: 'Coming Soon', cursive;

    }
    button {
        font-family: 'Handlee', cursive;
        width: 80px;
        height: 60px;
        font-size: 24px;
        font-weight: bolder;
        background-color: #5F9EA0;
        border-radius: 5px;
        float: right;
        vertical-align: top;
        margin-right: 500px;
        position: relative;

     }

        
div#message {
    margin-top: 0;
    padding-top: 0;
font-size: 20px;
font-weight: bold;
margin-left: 80px;

}

h1 {
    padding-top: 0;
    margin-top: 0;
    padding-left: 150px;
    font-size: 40px;
    text-shadow: -1px 0 #FAFAD3, 0 1px #FAFAD3, 1px 0 #FAFAD3, 0 -1px #FAFAD3;
    color: #DB7093;
    font-weight: bolder;
    /*text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;*/
   } 

    .console {
        display:table;
        height: 345px;
        width: 345px;
        text-align: center;
        border-radius: 10px;
        font-family: 'Libre Baskerville', serif;
        font-size: 30px;
        color: #5F9EA0;
        text-shadow: -2px 0 #FAFAD3, 0 2px #FAFAD3, 2px 0 #FAFAD3, 0 -2px #FAFAD3;
        line-height: 115px;
        font-weight: bolder;
        border-collapse: collapse;
        border-style: hidden;
        margin-left: 100px;
   }

   .box:hover{
    background-color: #FAFAD3; 
    border-radius: 25px;

   }
    .console  > div {
        display:table-row;
        width:115px;
        border: 8px solid #DB7093;
    
    }
    .console  > div:first-child,
    .console > div:last-child {
        height: 115px;
        border: 8px solid #DB7093;
    }
    .console  > div > div {
        display:table-cell;
        border: 8px solid #DB7093;
    }
    .console > div > div:first-child,
    .console > div > div:last-child {
        width:115px;
        border: 8px solid #DB7093;
    }


@media (max-width: 40em) {


    body{
        background-size: cover;
        margin: 0;
       /* margin-left: 30px;
        margin-right: 20px;*/
    }
    h1 {
        padding-left: 10px;
        font-size: 24px;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    }
div#message{
font-size: 16px;
}
    .console{
    height: 240px;
    width: 240px;
    font-size: 16px;
    line-height: 80px;
    margin-right: 0;
    }

    .console  > div {
        display:table-row;
        width: 80px;
        border: 8px solid #DB7093;
    
    }
    .console  > div:first-child,
    .console > div:last-child {
        height: 80px;
        border: 8px solid #DB7093;
    }
    .console  > div > div {
        display:table-cell;
        border: 8px solid #DB7093;
    }
    .console > div > div:first-child,
    .console > div > div:last-child {
        width: 80px;
        border: 8px solid #DB7093;
    }
    button {
        float:left;
        margin-right: 0;
        position: relative;
        font-size:12px;
        width: 50px;
        height: 20px;

    }